*{
    font-family: Gill Sans / Gill Sans MT, sans-serif;
}

.characterPill{
    background-size: cover !important;
    color: white !important;
    height: 80px;
    width: 450px;
}

.characterPill p{
    margin-left: 80px;
    padding: 15px 10px 10px;
    height:100%;
    background-color: rgba(0, 0, 0, 0.2);      
}

.userHeader {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px 0;
    text-align: center;
    border-radius: 20px 20px 0 0;
    width: 450px;
    color: aliceblue;
    list-style: none;
}