body {
    font-family: Gill Sans / Gill Sans MT, sans-serif;
    background-image: url(../img/wallpaper2.jpg);
    background-attachment: fixed;
    background-size: 300vh;
    background-position: center top;
    color: azure;
}


header {

    background-color: rgba(50, 50, 50, .9);
}

::placeholder {
    color: lightgray;
    opacity: 1;
}


input {
    width: 95%;
    height: 50px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid;
    color: rgba(255, 255, 255, 1)
}

input:focus {
    outline: none;
}

button {
    border: 0px solid;
    color: white;
    background-color: #fb3e44;
    padding: 18px;
    margin: 0, auto;
}


li {
    list-style-type: none !important;
}


a {
    text-decoration: none !important;
}


#character-emblem,
#subclass-icon {
    width: 100px !important;
    height: 100px !important;
    border-width: 2px !important;
}

#guardian-image {
    margin: 120px auto auto -45px;
    z-index: 3;
}

.mastercrafted-tooltip {
    margin-top: -10px;
}

#login-button:hover {
    color: beige !important;
    border-width: 2px;
    background-color: grey;
}

#register-button:hover {
    color: beige !important;
    border-width: 2px;
    background-color: grey;
}

#status {
    background-color: rgba(50, 50, 50, .9);

}

#steam-results {
    padding: 10px 0;
    margin: 0 0 10px;
}


.btn {
    height: 52px;
    border-radius: 0;
    text-decoration: none !important;

}

.btn:hover {
    font-weight: bold;
}

.character-header p {
    margin-left: 0 !important;
}

.characterPill {
    background-size: cover !important;
    color: white !important;
    height: 60px;
    width: 300px;
}

.characterPill p:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black
}

.characterPill p {
    margin-left: 55px;
    padding: 10px 10px 10px;
    height: 100%;
    font-size: 0.85em;
    background-color: rgba(0, 0, 0, 0.2);
}

.destiny-logo {
    width: 40px;
    height: 45px;
}


.faq {
    background-color: rgba(150, 150, 150, .2);
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
}


.forms {
    background-color: rgba(50, 50, 50, .9);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}

.input-field {
    background-color: rgba(150, 150, 150, .6);
    display: flex;
    justify-content: space-between
}

.input-field:hover {
    background-color: rgba(150, 150, 150, .9);
}

.item-data {
    padding-left: 10px;
    ;
    width: 200px !important;
}

.item-icon,
.ghost-icon,
.sparrow-icon {
    margin: 30px 10px 20px 10px;
    padding: 0px;
    border-width: 2px !important;
    width: 92.5 !important;
    height: 92.5px !important;
}

.mastercrafted {
    box-shadow: 2px 2px 8px 8px rgba(255, 215, 10, 0.15), -2px -2px 8px 8px rgba(255, 215, 10, 0.15);
}

.mastercrafted:hover {
    box-shadow: 4px 4px 8px 8px rgba(255, 215, 10, 0.5), -4px -4px 8px 8px rgba(255, 215, 10, 0.5);
}

.non-mastercrafted,
.ghost-icon,
.sparrow-icon {
    box-shadow: 1px 1px 8px 8px rgba(255, 255, 255, 0.05), -1px -1px 8px 8px rgba(255, 255, 255, 0.05);
}

.non-mastercrafted:hover,
.ghost-icon:hover,
.sparrow-icon:hover {
    box-shadow: 4px 4px 8px 8px rgba(255, 255, 255, 0.5), -4px -4px 8px 8px rgba(255, 255, 255, 0.5);
}

.input-field i {
    width: 20px;
    height: 20px;
    margin: 1rem;
}


.itemHeader,
.character-header {
    background-color: rgba(40, 40, 40, 0.8);
    padding: 2px 0;
    text-align: center;
    border-radius: 20px;
    font-size: 0.8em;
    list-style: none;
    box-shadow: 2px 4px 8px 0 rgba(80, 80, 80, 0.3), 0 6px 20px 0 rgba(50, 50, 50, 0.19);
    z-index: 1;
}

.itemHeader:hover,
.character-header:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

.itemHeader {
    width: 340px !important;

}

.character-header {
    font-size: 1.3em;
}

.item-level,
.sparrow-speed {
    font-size: 5em;
    margin: 0 0 20px;
}

.light-level-header {
    line-height: 4em;
    padding: 0;
    margin: 0;
}

.navbar {

    margin: 0
}

.userHeader,
.favouriteHeader {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 8px 0;
    margin: 20px 0 0;
    font-size: 0.8em;
    color: aliceblue;
    list-style: none;
}

.fav-account {
    background-color: rgba(200, 200, 200, 0.8);
    color: black;
}

.userHeader {
    width: 300px;
}

.favouriteHeader {
    width: 900px;
}


.modal {
    display: none;
    position: absolute;
    z-index: 2;
    top: 40px;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}


#select-your-account{
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
}

.close {
    color: azure;
    z-index: 1;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px;
    width: 30px;
    height: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    font-size: 60px;
    margin: -5px auto auto -10px;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (min-width: 990px) {
    #favourite-account {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 989px) {
    #favourite-account {
        display: flex;
        flex-direction: column;
    }
}



/*
@media only screen and (min-width: 1578px) {
    #content, .modal{
        padding-top: 54px;
    }
}

@media only screen and (max-width: 1577px) {
    #content,  .modal{
        padding-top: 54px;
    }
}

 
@media only screen and (max-width: 1342px) {
    #content,  .modal{
        padding-top: 102px;
    }
} 


@media only screen and (max-width: 991px) {
    #content, .modal {
        padding-top: 159px;
    }
}

@media only screen and (max-width: 571px) {
    #content, .modal {
        padding-top: 263px;
    }
}

@media only screen and (max-width: 474px) {
    #content, .modal {
        padding-top: 309px;
    }
}


@media only screen and (max-width: 358px) {
    #content, .modal {
        padding-top: 357px;
    }
}
*/