body {
    font-family: Gill Sans / Gill Sans MT, sans-serif;
    background-image: url(/img/wallpaper2.jpg);
    background-size: 300vh; 
    background-position: center top;
    color: azure;
}

header {
    padding-top: 50px;
    padding-bottom: 20px;

}

input{
    width: 95%;
    height: 50px;
    margin: 0;
    background-color: rgba(0,0,0,0);
    border: 0 solid;
    color: rgba(255,255,255,1)
}

input:focus {
    outline:none;
}

button {
    border: 0px solid;
    color: white;
    background-color:#fb3e44;
    padding: 18px;
    margin: 0, auto;
  }

  
li{
    list-style-type: none !important;
}

footer{
    position: fixed;
    bottom: 1%;
    right: 1%;
    padding: 10px;
}
.navbar{
    background-color: rgba(50,50,50,.9);
}

.search{
    background-color: rgba(150,150,150,.6);
    display: flex;
    justify-content: space-between
}

.search:hover{
    background-color: rgba(150,150,150,.8); 
}

.search i {
    width: 20px;
    height: 20px;
    margin: 1rem;
}

#status{
    background-color: rgba(50,50,50,.9);
    
}
#status:hover{
    font-size: 1.5em;
}

#steam-results {
    padding: 10px 0;
    margin: 0 0 10px
}

.destiny-logo{
    width: 40px;
    height: 45px;
}

.characterPill{
    background-size: cover !important;
    color: white !important;
    height: 60px;
    width: 300px;
}

.characterPill p:hover{
    background-color: rgba(255, 255, 255, 0.8);      
    color: black
}

.characterPill p{
    margin-left: 55px;
    padding: 10px 10px 10px;
    height:100%;
    font-size: 0.85em;
    background-color: rgba(0, 0, 0, 0.2);      
}
.btn{
    height: 52px;
    border-radius: 0;
}

.userHeader {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px 0;
    text-align: center;
    border-radius: 20px 20px 0 0;
    width: 300px;
    font-size: 0.8em;
    color: aliceblue;
    list-style: none;
}



@media only screen and (min-width: 1578px) {
    #content {
        padding-top: 46px;
    }
}

@media only screen and (max-width: 1577px) {
    #content {
        padding-top: 90px;
    }
}

 
@media only screen and (max-width: 1351px) {
    #content {
        padding-top: 147px;
    }
} 


@media only screen and (max-width: 991px) {
    #content {
        padding-top: 159px;
    }
    .destiny-logo{
        position: fixed;
        top: 31px;
        right: 20px;
    }
}

@media only screen and (max-width: 575px) {
    #content {
        padding-top: 255px;
    }
}


@media only screen and (max-width: 444px) {
    #content {
        padding-top: 310px;
    }
}
